<% provide(:title, "Blogs") %>
<div class="container">
	<%= link_to 'Create your own blog', new_blog_path, class: 'btn btn-primary pull xs right' %>
	<% if @blogs %>
		<%= @blogs.each do |blog| %>
		<div class="card blog-index">
			<div class="card-header">
				<%= blog.title %>
				<div class="pull-xs-right">
					<%= time_ago_in_words(blog.created_at) %>
				</div>
			</div>
			<div class="card-block">
				<%= blog.extended_html_content.html_safe %>	
			</div>
			<div class="text-xs-right">
				Author: <%= link_to blog.author.name, user_path(blog.author_id) %>
			</div>
			<p>
				Tags: <%= raw blog.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %>
			</p>
		</div>
		<% end %>
	<% end %>	
</div>
