<% unless logged_in? %>
  <%= render 'welcome/header' %>
  <%= render 'welcome/web_info' %>
  <%= render 'welcome/stat' %>
  <%= render 'welcome/blog' %>
  <%= render 'welcome/footer' %>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%= render 'partial/home_user_info' %>
      </div>
      <div class="col-lg-6">
        <%= render 'partial/home_feed' %>
      </div>
      <div class="col-lg-3">
        <%= render 'partial/home_right' %>
      </div>
    </div>
  </div>
<% end %>