<%= form_for(@tour) do |f| %>
<% if @tour.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this article from being saved:</h2>

  <ul>
    <% @tour.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container">
<br/>
<br/>
<br/>
    <%= hidden_field_tag :creator_id, current_user.id %>
    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>      
       <%= f.text_area :description , rows: 15, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :fromplace, "From Place" %><br>
      <%= f.text_field :fromplace , class: "form-control"%>
    </div>

    <div class="form-group">
    <%= f.label :toplace, "To Place" %><br>
      <%= f.text_field :toplace , class: "form-control"%></div>

      <div class="form-group">
        <%= f.label :fromtime, "Time kick off" %><br>
        <%= f.datetime_select :fromtime, default: 1.months.from_now, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :totime, "Time come back" %><br>
        <%= f.datetime_select :totime, default: 1.months.from_now, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :maxmember, "Member limit" %><br>
        <%= f.number_field :maxmember, :min => 2, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :estimatebudget, "Expected cost" %><br>
        <%= f.number_field :estimatebudget, :min => 100000, :step => 50000 , class: "form-control" %>
        </div>      
      <div class="form-group">
        <%= f.label :deposit %><br>
        <%= f.number_field :deposit, :min => 0, :step => 50000, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :transport %><br>
        <%= f.select :transport, options_for_select(Tour.transport_list), class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit yield(:button_text), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
  <% end %>
