<div class="container-fluid" data-spy="scroll" data-target="#myScrollspy" data-offset="10" >
  <div class="row">
    <nav class="col-sm-2 sidebar" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked" >
        <li class="nav-item "> <a class="nav-link active" href="#tour_title">Title</a></li>
        <li class="nav-item ">  <a class="nav-link" href="#inner_description">Describe</a></li>
        <li class="nav-item ">  <a class="nav-link" href="#detail">Journey</a></li>
        <li class="nav-item ">  <a class="nav-link" href="#tourcomments">Comment</a></li>
      </ul>
    </nav>
    <div class="col-sm-10 offset-sm-3 col-md-10 offset-md-2 main">
      <div id="tour_description2">
        <div id="tour_title">
          <div class="row">
            <h4 class="card-title tour"><%= tour.title %></h4> <% if is_my_tour?(tour) %>
            <%= link_to edit_tour_path(id: tour.id), method: :get do %> 
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <% end %>
          </div>
        </div>
        <div class="card-block" id="inner_description" >
          <div class="main"  > 
            <p class="card-text">
              <%= markdown(tour.description) %></p>
              <p class="card-text"><% tag_cloud Tour.tag_counts, %w[s m l] do |tag, css_class| %>
                <%= link_to tag.name, nil, class: "tag tag-pill tag-primary" %> 
              </a>  
              <% end %>
            </p>
          </div>
          <ul class="list-group list-group-flush" id="detail">
            <li class="list-group-item">Time: <span class="tag tag-info"><%= toVNTimezone(tour.fromtime) %></span> - <span class="tag tag-info"><%= toVNTimezone(tour.totime) %> </span> </li>
            <li class="list-group-item">Route: <%= tour.travel_route %> </li>
            <li class="list-group-item">Member limit: <%= tour.maxmember %></li>
            <li class="list-group-item">Expected cost: <span class="tag tag-info"> <%= toVND(tour.estimatebudget) %> </span></li>
            <li class="list-group-item" id="pending_members"> <%= render 'pending_members', tour: tour %></li>
          </ul>
          <div class="card-footer text-muted">
            <%= time_ago_in_words tour.created_at %> ago
          </div>
          <div class="row">
            <div class="col-sm-8" id="join_or_cancel">
              <%= render 'join_or_cancel', tour: tour %>
            </div>
            <div class="col-sm-4">
              Danh gia

              <%= link_to ratetour_path(:point => 1, :id => tour.id),  method: :post , :remote => true, class: "btn btn-default", id: "rateup"  do %>        
              <i class="fa fa-thumbs-o-up"> <%= tour.total_rate_up %></i>
              <% end %>

              <%= link_to ratetour_path(:point => -1, :id => tour.id),  method: :post , :remote => true, class: "btn btn-default", id: "ratedown"  do %>        
              <i class="fa fa-thumbs-o-down"> <%= tour.total_rate_down %></i>
              <% end %>
            </div>
          </div>    
          <div> 
            <ul class="list-group list-group-flush" id="tourcomments">
              <%= render tour.tourcomments %>
            </ul>
          </div>
          <%= render 'tourcomments/form', tour: tour %>

        </div>
      </div>
    </div>
  </div>
</div>
