</br>
</br>
</br>
<div class="card">
  <img class="card-img-top" src="<%= tour.pick_image %>" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= tour.title %></h4>
    <p class="card-text">
<%= tour.description %></p>
<p class="card-text"><% tag_cloud Tour.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, nil, class: "tag tag-pill tag-primary" %> 
          </a>  
          <% end %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Thoi gian: <span class="tag tag-info"><%= toVNTimezone(tour.fromtime) %></span> - <span class="tag tag-info"><%= toVNTimezone(tour.totime) %> </span> </li>
    <li class="list-group-item">Lo trinh: <%= tour.travel_route %> </li>
    <li class="list-group-item">So thanh vien: <%= tour.maxmember %></li>
    <li class="list-group-item">Chi phi du kien: <span class="tag tag-info"> <%= toVND(tour.estimatebudget) %> </span></li>
    <li class="list-group-item">So thanh vien dang ky: <span class="tag tag-info"> <%= tour.members.count %> </span></li>
  </ul>
  <div class="card-footer text-muted">
    <%= time_ago_in_words tour.created_at %> ago
  </div>
  <%= link_to "Tham Gia", nil , class: 'btn btn-primary' %>
<%= render tour.tourcomments %>
<%= render 'tourcomments/form', tour: tour %>

</div>