<%= form_for([tour, tour.tourcomments.build]) do |f| %>

<% if @cmt != nil && @cmt.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@cmt.errors.count, "error") %> </h2>

	<ul>
		<% @cmt.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<%= f.hidden_field :commenter_id, :value => current_user.id %>
<p>
	<%= f.text_area :content %>
</p>
<p>
	<%= f.submit 'Nhap', class: 'btn btn-primary' %>
</p>
<% end %>